<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690394125170-g5so9a3fs2mt7k5enka8g3gr7t833m7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690394125170-g5so9a3fs2mt7k5enka8g3gr7t833m7c</string>
	<key>API_KEY</key>
	<string>AIzaSyA9kPDqFUiNRRJl4mpZjeCQpEr5mGsiMj0</string>
	<key>GCM_SENDER_ID</key>
	<string>690394125170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.ssu.needle</string>
	<key>PROJECT_ID</key>
	<string>needle-1e3c6</string>
	<key>STORAGE_BUCKET</key>
	<string>needle-1e3c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690394125170:ios:fd04c92ca13bad47</string>
	<key>DATABASE_URL</key>
	<string>https://needle-1e3c6.firebaseio.com</string>
</dict>
</plist>